<h3>{{'campaigns.create_doc' | translate}}</h3>
<div class="col-lg-12">
<form id="form1" #f1="ngForm">
<nb-card>
  <nb-card-header>{{'campaigns.choose_document' | translate}}</nb-card-header>
    <nb-card-body>
          <div> <label for="document">{{'campaigns.document' | translate}}:</label>  
            <select class = "form-control" name = "document" [(ngModel)]= "selectedDoc">  
                <option *ngFor="let document of document"[ngValue] = "document" >{{document.name}}</option>  
                </select>  </div>
    </nb-card-body>
</nb-card>
<div *ngIf="(!campaign_id)">
<nb-card>
    <nb-card-header>
      {{'campaigns.choose_group' | translate}}
    </nb-card-header>
    <nb-card-body>
            <div *ngIf="(!campaign_id)">  
                    <label for = "group">{{'campaigns.group' | translate}}:</label>  
                        <select class = "form-control" name = "group" [(ngModel)]= "selectedGrp">  
                                        <option *ngFor="let group of group"  
                               [ngValue] = "group">  
                                      {{group.name}} 
                        </option>  
                          </select>  
                    </div>  
    </nb-card-body>
</nb-card>
</div>    
<nb-card>
  <nb-card-header>
    {{'campaigns.retry' | translate}}
  </nb-card-header>
  <nb-card-body>
    <div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div>  
                <label for="try_allowed">{{'campaigns.retry' | translate}}:</label>  
                    <select class = "form-control" name = "try_allowed" [(ngModel)]= "campaign.try_allowed" [ngModelOptions]="{standalone: true}">
                    <option value = "">{{'campaigns.select' | translate}}</option>  
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                      </select>
                </div>
        </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="delay">{{'campaigns.delay_bw_fax' | translate}}:</label>
        <input [(ngModel)]="campaign.cpm" [ngModelOptions]="{standalone: true}" type="text" id="delay" class="form-control" placeholder="Delay b/w Fax" required/>
      </div>
</div>
    </div>
  </nb-card-body>
</nb-card>


<div *ngIf="(campaign_id>0)">
    <button type="button" class="btn btn-primary" (click)="updateCampaign()">{{'buttons.update' | translate}}</button>
</div>
<div *ngIf="(!campaign_id)">
    <button type="button" class="btn btn-success" (click)="addSendDocument()">{{'buttons.submit' | translate}}</button>
</div>
</form>
</div>