<nb-card>
  <nb-card-header>
    {{ 'contact.list' | translate }}
    <input nbInput fullWidth placeholder="{{ 'contact.filter' | translate }}" [nbFilterInput]="dataSource" id="search" class="form-control cc" style="float:right"> 
  </nb-card-header>
  
  <nb-card-body>
    <button type="button" mat-raised-button color="primary" style="font-size:15px"[routerLink]="['/pages/contact/contacts/new']"><i class="fa fa-plus"></i> {{ 'contact.add' | translate }}</button>
    <button type="button" mat-raised-button color="primary" style="font-size:15px; margin-left:10px"
      (click)="openSearchModal()">
      <i class="fa fa-search"></i> {{ 'contact.search' | translate }}
    </button>

    <div *ngIf="showSearchModal"
      style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.5); z-index: 999;">
    </div>

    <nb-card *ngIf="showSearchModal"
      style="position: fixed; top: 20%; left: 50%; transform: translateX(-50%); z-index: 1000; width: 500px;">
      <button (click)="showSearchModal = false"
        style="position: absolute; top: 10px; right: 10px; border: none; background: transparent; font-size: 20px; cursor: pointer; outline: none;">
        ✕
      </button>
      <nb-card-header style="font-size: 26px; font-weight: 800;">{{ 'contact.search' | translate }}

      </nb-card-header>
      <nb-card-body style="display: flex; flex-direction: column; gap: 1rem;">
        <nb-select fullWidth placeholder="Select field" [(selected)]="selectedField" [overlayContainer]="'body'"
          [position]="'bottom'" [scrollStrategy]="'reposition'">
          <nb-option value="first_name">{{ 'contact.fname' | translate }}</nb-option>
          <nb-option value="last_name">{{ 'contact.lname' | translate }}</nb-option>
          <nb-option value="email">{{ 'contact.email' | translate }}</nb-option>
          <nb-option value="phone">{{ 'contact.phone' | translate }}</nb-option>
        </nb-select>
        <input nbInput fullWidth placeholder="{{ 'user.filter' | translate }}" [(ngModel)]="filterValue" />

        <div style="display: flex; justify-content: flex-end; gap: 0.5rem;">
          <button mat-raised-button color="primary" (click)="resetSearch()">Reset</button>
          <button mat-raised-button color="primary" (click)="applySearch()">Search</button>
        </div>
      </nb-card-body>
    </nb-card>
    
    <br><br>
    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource">
      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="displayedColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: displayedColumns"></tr>
      <ng-container nbTreeGridColumnDef="contact_id">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]>{{ 'general.ID' | translate }} </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data.contact_id }}</td>
      </ng-container>
      <ng-container nbTreeGridColumnDef="first_name">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]>{{ 'contact.fname' | translate }}</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data.first_name }}</td>
      </ng-container>
      <ng-container nbTreeGridColumnDef="last_name">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]>{{ 'contact.lname' | translate }}</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data.last_name }}</td>
      </ng-container>
      <ng-container nbTreeGridColumnDef="phone">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]>{{ 'contact.phone' | translate }}</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data.phone }}</td>
      </ng-container>
      <ng-container nbTreeGridColumnDef="email">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader] style="width: 300px;" >{{ 'contact.email' | translate }}</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data.email }}</td>
      </ng-container>
      <ng-container nbTreeGridColumnDef="operations">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{ 'general.operations' | translate }}</th>
        <td nbTreeGridCell *nbTreeGridCellDef="let contact">
          <button mat-icon-button color="accent" style= "font-size:20px">
            <mat-icon><a routerLink="/pages/contact/contacts/{{contact.data.contact_id}}"title="Edit">
              <nb-icon icon="edit-2-outline"></nb-icon></a></mat-icon></button>
          <button mat-icon-button style="font-size:20px">
            <mat-icon style="color:red" (click)="showStaticModal(contact.data.contact_id)"><nb-icon icon="trash-2-outline">
            </nb-icon></mat-icon></button>
          <button mat-icon-button color="primary" style= "font-size:20px">
            <mat-icon (click)="open(content, contact.data.contact_id)" ><nb-icon icon="paper-plane-outline" title="Send Fax">
            </nb-icon></mat-icon></button>
          </td>
        </ng-container>
    </table>
    <div style="padding: 30px; display: flex; justify-content: flex-end;">
      <span style="text-align: center; padding-top: 10px;">Items per page: &nbsp;&nbsp;</span>
      <nb-select [(ngModel)]="pageSize" (ngModelChange)="paginate($event)">
        <nb-option *ngFor="let option of items_page" [value]="option">{{ option }}</nb-option>
      </nb-select>
      <div style="padding-top: 10px;">
        <nb-icon   style="margin: 0 25px;"   icon="arrowhead-left-outline"   (click)="startIndex > 0 ? paginate('previous') : null"   [ngClass]="{'disabled-icon': startIndex === 0}"></nb-icon>  
        <span>Page {{ currentPage }} of {{ total_pages }}</span>
        <nb-icon  style="margin: 0 25px;"  icon="arrowhead-right-outline" (click)="startIndex + pageSize < contactArray?.length ? paginate('next') : null" [ngClass]="{'disabled-icon': startIndex + pageSize >= contactArray?.length}"> </nb-icon>
        <span *ngIf="contactArray?.length > 0"> 
          | Showing {{ startIndex }} - {{ minimumItems }} of {{ length }} items
        </span>
      </div>
    </div> 
  </nb-card-body>
</nb-card>
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{ 'transmission.fax.title' | translate}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="title">{{ 'transmission.title' | translate}}:</label>
                <input  [(ngModel)]="sendfax.title" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="title" required/>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="phone">{{ 'transmission.phone_num_destination_contact' | translate}}:</label>
                <ng2-completer [inputClass]="'form-control form-control-inline'" [(ngModel)]="sendfax.phone" name="phone" [datasource]="dataService" (selected)="onSelected($event)" [minSearchLength]="0"></ng2-completer>
              </div>
            </div>
            <!-- <div class="col-sm-6">
              <div class="form-group">
                <label for="retry">{{ 'transmission.retry' | translate}}:</label>
                <select class = "form-control" [(ngModel)]= "sendfax.try_allowed" [ngModelOptions]="{standalone: true}" name = "try_allowed" >
                  <option value = "">Please Select an Option below</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>
            </div> -->
            <div class="col-sm-12">
              <div class="form-group">
                <label for="document">{{'transmission.fax.choose_document' | translate }}:</label>
                <select class = "form-control" name = "document" (change)="onSelect($event.target.value)">
                  <option *ngFor="let document of documentArray; let i = index"
                  [value] = "document.document_id" [selected]="i===documentArray.length-1">
                  {{document.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="account">{{'account.choose_caller_id' | translate}}:</label>
              <select class="form-control" name="account" (change)="onSelectedAccount($event.target.value)">
                <option *ngFor="let acc of accountArray; let i = index" [value]="acc.account_id" [selected]="i === accountArray.length-1">{{acc.phone}}</option>
              </select>
            </div>
          </div>
          <br>
          <div class="col-sm-6">
            <button type="button" class="btn btn-success" (click)="addSendDocument()" [disabled] = "(this.sendfax.phone === undefined || this.sendfax.phone === '')">{{ 'transmission.fax.title' | translate}}!</button>
          </div>
        </div>
      </ng-template>