<h3>{{'user.add' | translate}}</h3>
<div class="col-lg-12">
  <form id="form" #f1="ngForm">
    <nb-card>
      <nb-card-header>
        {{'user.user_info' | translate}}
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="username">{{'user.Username' | translate}}:</label>
              <input [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" type="text" class="form-control" nbInput fullWidth id="username" required/>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>
        {{'user.password' | translate}}
      </nb-card-header>
      <nb-card-body>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="password">{{'user.password' | translate}}</label>
            <input type="password" class="form-control" nbInput fullWidth id="password"
            required
            [(ngModel)]="user.password" name="password"
            #password="ngModel">
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
              {{'user.password_required' | translate}}
            </div>
          </div>
          <div class="form-group">
            <label for="name">{{'user.confirm_password' | translate}}</label>
            <input type="password" class="form-control" nbInput fullWidth id="confirmPassword"
            required
            ngx_validateEqual="password"
            [(ngModel)]="user.confirmPassword" name="confirmPassword"
            #confirmPassword="ngModel">
            <div [hidden]="confirmPassword.valid || confirmPassword.pristine"
              class="alert alert-danger">
              {{'user.password_mismatch' | translate}}
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>
        {{'user.name' | translate}}
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="first_name">{{'user.fname' | translate}}:</label>
              <input [(ngModel)]="user.first_name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" nbInput fullWidth id="first_name" required/>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="last_name">{{'user.lname' | translate}}:</label>
              <input [(ngModel)]="user.last_name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" nbInput fullWidth id="last_name" required/>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>
        {{'user.address' | translate}}
      </nb-card-header>
      <nb-card-body>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="phone">{{'user.phone' | translate}}:</label>
            <input [(ngModel)]="user.phone" [ngModelOptions]="{standalone: true}" type="phone" id="phone" class="form-control" nbInput fullWidth pattern="[0-9]*" minlength="11" maxlength="16" #phone="ngModel" required/>
            <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
              <div [hidden]="!phone.hasError('required')">{{'user.password_required' | translate}}</div>
              <div [hidden]="!phone.hasError('pattern')">{{'user.phone_shd' | translate }}</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email">{{'user.Email' | translate }}:</label>
            <input [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" type="email" id="email" class="form-control" nbInput fullWidth #email="ngModel" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required/>
            <div class="md-errors-spacer" [hidden]="email.valid || email.untouched" class="alert alert-danger">
              <div  *ngIf="email.errors && email.errors.pattern">
                {{'user.invalid_email' | translate }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="address">{{'user.address' | translate }}:</label>
            <textarea [(ngModel)]="user.address" [ngModelOptions]="{standalone: true}" class="form-control" nbInput fullWidth id="address" rows="10" cols="30" required></textarea>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>
        {{'user.choose_country_timezone' | translate }}
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="country_id">{{'user.country' | translate }}</label>
              <nb-select class = "dddd" name = "country_id" [(ngModel)]= "user.country_id" [ngModelOptions]="{standalone: true}">
                <nb-option value="4">Afghanistan</nb-option>
                <nb-option value="248">Åland Islands</nb-option>
                <nb-option value="8">Albania</nb-option>
                <nb-option value="12">Algeria</nb-option>
                <nb-option value="16">American Samoa</nb-option>
                <nb-option value="20">Andorra</nb-option>
                <nb-option value="24">Angola</nb-option>
                <nb-option value="660">Anguilla</nb-option>
                <nb-option value="10">Antarctica</nb-option>
                <nb-option value="28">Antigua and Barbuda</nb-option>
                <nb-option value="32">Argentina</nb-option>
                <nb-option value="51">Armenia</nb-option>
                <nb-option value="533">Aruba</nb-option>
                <nb-option value="36">Australia</nb-option>
                <nb-option value="40">Austria</nb-option>
                <nb-option value="31">Azerbaijan</nb-option>
                <nb-option value="44">Bahamas</nb-option>
                <nb-option value="48">Bahrain</nb-option>
                <nb-option value="50">Bangladesh</nb-option>
                <nb-option value="52">Barbados</nb-option>
                <nb-option value="112">Belarus</nb-option>
                <nb-option value="56">Belgium</nb-option>
                <nb-option value="84">Belize</nb-option>
                <nb-option value="204">Benin</nb-option>
                <nb-option value="60">Bermuda</nb-option>
                <nb-option value="64">Bhutan</nb-option>
                <nb-option value="68">Bolivia, Plurinational State of</nb-option>
                <nb-option value="535">Bonaire, Sint Eustatius and Saba</nb-option>
                <nb-option value="70">Bosnia and Herzegovina</nb-option>
                <nb-option value="72">Botswana</nb-option>
                <nb-option value="74">Bouvet Island</nb-option>
                <nb-option value="76">Brazil</nb-option>
                <nb-option value="86">British Indian Ocean Territory</nb-option>
                <nb-option value="96">Brunei Darussalam</nb-option>
                <nb-option value="100">Bulgaria</nb-option>
                <nb-option value="854">Burkina Faso</nb-option>
                <nb-option value="108">Burundi</nb-option>
                <nb-option value="116">Cambodia</nb-option>
                <nb-option value="120">Cameroon</nb-option>
                <nb-option value="124">Canada</nb-option>
                <nb-option value="132">Cape Verde</nb-option>
                <nb-option value="136">Cayman Islands</nb-option>
                <nb-option value="140">Central African Republic</nb-option>
                <nb-option value="148">Chad</nb-option>
                <nb-option value="152">Chile</nb-option>
                <nb-option value="156">China</nb-option>
                <nb-option value="162">Christmas Island</nb-option>
                <nb-option value="166">Cocos (Keeling) Islands</nb-option>
                <nb-option value="170">Colombia</nb-option>
                <nb-option value="174">Comoros</nb-option>
                <nb-option value="178">Congo</nb-option>
                <nb-option value="180">Congo, the Democratic Republic of the</nb-option>
                <nb-option value="184">Cook Islands</nb-option>
                <nb-option value="188">Costa Rica</nb-option>
                <nb-option value="384">Côte d'Ivoire</nb-option>
                <nb-option value="191">Croatia</nb-option>
                <nb-option value="192">Cuba</nb-option>
                <nb-option value="531">Curaçao</nb-option>
                <nb-option value="196">Cyprus</nb-option>
                <nb-option value="203">Czech Republic</nb-option>
                <nb-option value="208">Denmark</nb-option>
                <nb-option value="262">Djibouti</nb-option>
                <nb-option value="212">Dominica</nb-option>
                <nb-option value="214">Dominican Republic</nb-option>
                <nb-option value="218">Ecuador</nb-option>
                <nb-option value="818">Egypt</nb-option>
                <nb-option value="222">El Salvador</nb-option>
                <nb-option value="226">Equatorial Guinea</nb-option>
                <nb-option value="232">Eritrea</nb-option>
                <nb-option value="233">Estonia</nb-option>
                <nb-option value="231">Ethiopia</nb-option>
                <nb-option value="238">Falkland Islands (Malvinas)</nb-option>
                <nb-option value="234">Faroe Islands</nb-option>
                <nb-option value="242">Fiji</nb-option>
                <nb-option value="246">Finland</nb-option>
                <nb-option value="250">France</nb-option>
                <nb-option value="254">French Guiana</nb-option>
                <nb-option value="258">French Polynesia</nb-option>
                <nb-option value="260">French Southern Territories</nb-option>
                <nb-option value="266">Gabon</nb-option>
                <nb-option value="270">Gambia</nb-option>
                <nb-option value="268">Georgia</nb-option>
                <nb-option value="276">Germany</nb-option>
                <nb-option value="288">Ghana</nb-option>
                <nb-option value="292">Gibraltar</nb-option>
                <nb-option value="300">Greece</nb-option>
                <nb-option value="304">Greenland</nb-option>
                <nb-option value="308">Grenada</nb-option>
                <nb-option value="312">Guadeloupe</nb-option>
                <nb-option value="316">Guam</nb-option>
                <nb-option value="320">Guatemala</nb-option>
                <nb-option value="831">Guernsey</nb-option>
                <nb-option value="324">Guinea</nb-option>
                <nb-option value="624">Guinea-Bissau</nb-option>
                <nb-option value="328">Guyana</nb-option>
                <nb-option value="332">Haiti</nb-option>
                <nb-option value="334">Heard Island and McDonald Islands</nb-option>
                <nb-option value="336">Holy See (Vatican City State)</nb-option>
                <nb-option value="340">Honduras</nb-option>
                <nb-option value="344">Hong Kong</nb-option>
                <nb-option value="348">Hungary</nb-option>
                <nb-option value="352">Iceland</nb-option>
                <nb-option value="356">India</nb-option>
                <nb-option value="360">Indonesia</nb-option>
                <nb-option value="364">Iran, Islamic Republic of</nb-option>
                <nb-option value="368">Iraq</nb-option>
                <nb-option value="372">Ireland</nb-option>
                <nb-option value="833">Isle of Man</nb-option>
                <nb-option value="376">Israel</nb-option>
                <nb-option value="380">Italy</nb-option>
                <nb-option value="388">Jamaica</nb-option>
                <nb-option value="392">Japan</nb-option>
                <nb-option value="832">Jersey</nb-option>
                <nb-option value="400">Jordan</nb-option>
                <nb-option value="398">Kazakhstan</nb-option>
                <nb-option value="404">Kenya</nb-option>
                <nb-option value="296">Kiribati</nb-option>
                <nb-option value="408">Korea, Democratic People's Republic of</nb-option>
                <nb-option value="410">Korea, Republic of</nb-option>
                <nb-option value="414">Kuwait</nb-option>
                <nb-option value="417">Kyrgyzstan</nb-option>
                <nb-option value="418">Lao People's Democratic Republic</nb-option>
                <nb-option value="428">Latvia</nb-option>
                <nb-option value="422">Lebanon</nb-option>
                <nb-option value="426">Lesotho</nb-option>
                <nb-option value="430">Liberia</nb-option>
                <nb-option value="434">Libya</nb-option>
                <nb-option value="438">Liechtenstein</nb-option>
                <nb-option value="440">Lithuania</nb-option>
                <nb-option value="442">Luxembourg</nb-option>
                <nb-option value="446">Macao</nb-option>
                <nb-option value="807">Macedonia, the former Yugoslav Republic of</nb-option>
                <nb-option value="450">Madagascar</nb-option>
                <nb-option value="454">Malawi</nb-option>
                <nb-option value="458">Malaysia</nb-option>
                <nb-option value="462">Maldives</nb-option>
                <nb-option value="466">Mali</nb-option>
                <nb-option value="470">Malta</nb-option>
                <nb-option value="584">Marshall Islands</nb-option>
                <nb-option value="474">Martinique</nb-option>
                <nb-option value="478">Mauritania</nb-option>
                <nb-option value="480">Mauritius</nb-option>
                <nb-option value="175">Mayotte</nb-option>
                <nb-option value="484">Mexico</nb-option>
                <nb-option value="583">Micronesia, Federated States of</nb-option>
                <nb-option value="498">Moldova, Republic of</nb-option>
                <nb-option value="492">Monaco</nb-option>
                <nb-option value="496">Mongolia</nb-option>
                <nb-option value="499">Montenegro</nb-option>
                <nb-option value="500">Montserrat</nb-option>
                <nb-option value="504">Morocco</nb-option>
                <nb-option value="508">Mozambique</nb-option>
                <nb-option value="104">Myanmar</nb-option>
                <nb-option value="516">Namibia</nb-option>
                <nb-option value="520">Nauru</nb-option>
                <nb-option value="524">Nepal</nb-option>
                <nb-option value="528">Netherlands</nb-option>
                <nb-option value="540">New Caledonia</nb-option>
                <nb-option value="554">New Zealand</nb-option>
                <nb-option value="558">Nicaragua</nb-option>
                <nb-option value="562">Niger</nb-option>
                <nb-option value="566">Nigeria</nb-option>
                <nb-option value="570">Niue</nb-option>
                <nb-option value="574">Norfolk Island</nb-option>
                <nb-option value="580">Northern Mariana Islands</nb-option>
                <nb-option value="578">Norway</nb-option>
                <nb-option value="512">Oman</nb-option>
                <nb-option value="586">Pakistan</nb-option>
                <nb-option value="585">Palau</nb-option>
                <nb-option value="275">Palestinian Territory, Occupied</nb-option>
                <nb-option value="591">Panama</nb-option>
                <nb-option value="598">Papua New Guinea</nb-option>
                <nb-option value="600">Paraguay</nb-option>
                <nb-option value="604">Peru</nb-option>
                <nb-option value="608">Philippines</nb-option>
                <nb-option value="612">Pitcairn</nb-option>
                <nb-option value="616">Poland</nb-option>
                <nb-option value="620">Portugal</nb-option>
                <nb-option value="630">Puerto Rico</nb-option>
                <nb-option value="634">Qatar</nb-option>
                <nb-option value="638">Réunion</nb-option>
                <nb-option value="642">Romania</nb-option>
                <nb-option value="643">Russian Federation</nb-option>
                <nb-option value="646">Rwanda</nb-option>
                <nb-option value="652">Saint Barthélemy</nb-option>
                <nb-option value="654">Saint Helena, Ascension and Tristan da Cunha</nb-option>
                <nb-option value="659">Saint Kitts and Nevis</nb-option>
                <nb-option value="662">Saint Lucia</nb-option>
                <nb-option value="663">Saint Martin (French part)</nb-option>
                <nb-option value="666">Saint Pierre and Miquelon</nb-option>
                <nb-option value="670">Saint Vincent and the Grenadines</nb-option>
                <nb-option value="882">Samoa</nb-option>
                <nb-option value="674">San Marino</nb-option>
                <nb-option value="678">Sao Tome and Principe</nb-option>
                <nb-option value="682">Saudi Arabia</nb-option>
                <nb-option value="686">Senegal</nb-option>
                <nb-option value="688">Serbia</nb-option>
                <nb-option value="690">Seychelles</nb-option>
                <nb-option value="694">Sierra Leone</nb-option>
                <nb-option value="702">Singapore</nb-option>
                <nb-option value="534">Sint Maarten (Dutch part)</nb-option>
                <nb-option value="703">Slovakia</nb-option>
                <nb-option value="705">Slovenia</nb-option>
                <nb-option value="90">Solomon Islands</nb-option>
                <nb-option value="706">Somalia</nb-option>
                <nb-option value="710">South Africa</nb-option>
                <nb-option value="239">South Georgia and the South Sandwich Islands</nb-option>
                <nb-option value="728">South Sudan</nb-option>
                <nb-option value="724">Spain</nb-option>
                <nb-option value="144">Sri Lanka</nb-option>
                <nb-option value="729">Sudan</nb-option>
                <nb-option value="740">Suriname</nb-option>
                <nb-option value="744">Svalbard and Jan Mayen</nb-option>
                <nb-option value="748">Swaziland</nb-option>
                <nb-option value="752">Sweden</nb-option>
                <nb-option value="756">Switzerland</nb-option>
                <nb-option value="760">Syrian Arab Republic</nb-option>
                <nb-option value="158">Taiwan, Province of China</nb-option>
                <nb-option value="762">Tajikistan</nb-option>
                <nb-option value="834">Tanzania, United Republic of</nb-option>
                <nb-option value="764">Thailand</nb-option>
                <nb-option value="626">Timor-Leste</nb-option>
                <nb-option value="768">Togo</nb-option>
                <nb-option value="772">Tokelau</nb-option>
                <nb-option value="776">Tonga</nb-option>
                <nb-option value="780">Trinidad and Tobago</nb-option>
                <nb-option value="788">Tunisia</nb-option>
                <nb-option value="792">Turkey</nb-option>
                <nb-option value="795">Turkmenistan</nb-option>
                <nb-option value="796">Turks and Caicos Islands</nb-option>
                <nb-option value="798">Tuvalu</nb-option>
                <nb-option value="800">Uganda</nb-option>
                <nb-option value="804">Ukraine</nb-option>
                <nb-option value="784">United Arab Emirates</nb-option>
                <nb-option value="826">United Kingdom</nb-option>
                <nb-option value="840">United States</nb-option>
                <nb-option value="581">United States Minor Outlying Islands</nb-option>
                <nb-option value="858">Uruguay</nb-option>
                <nb-option value="860">Uzbekistan</nb-option>
                <nb-option value="548">Vanuatu</nb-option>
                <nb-option value="862">Venezuela, Bolivarian Republic of</nb-option>
                <nb-option value="704">Viet Nam</nb-option>
                <nb-option value="92">Virgin Islands, British</nb-option>
                <nb-option value="850">Virgin Islands, U.S.</nb-option>
                <nb-option value="876">Wallis and Futuna</nb-option>
                <nb-option value="732">Western Sahara</nb-option>
                <nb-option value="887">Yemen</nb-option>
                <nb-option value="894">Zambia</nb-option>
                <nb-option value="716">Zimbabwe</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="timezone_id">{{'user.timezone' | translate }}</label>
              <nb-select class = "dddd" name = "timezone_id" [(ngModel)]= "user.timezone_id" [ngModelOptions]="{standalone: true}">
                <nb-option timezone_id="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12">(GMT-12:00) International Date Line West</nb-option>
                <nb-option timezone_id="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11">(GMT-11:00) Midway Island, Samoa</nb-option>
                <nb-option timezone_id="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10">(GMT-10:00) Hawaii</nb-option>
                <nb-option timezone_id="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9">(GMT-09:00) Alaska</nb-option>
                <nb-option timezone_id="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Pacific Time (US & Canada)</nb-option>
                <nb-option timezone_id="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">(GMT-08:00) Tijuana, Baja California</nb-option>
                <nb-option timezone_id="7" gmtAdjustment="GMT-07:00" useDaylightTime="0" value="-7">(GMT-07:00) Arizona</nb-option>
                <nb-option timezone_id="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Chihuahua, La Paz, Mazatlan</nb-option>
                <nb-option timezone_id="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">(GMT-07:00) Mountain Time (US & Canada)</nb-option>
                <nb-option timezone_id="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Central America</nb-option>
                <nb-option timezone_id="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Central Time (US & Canada)</nb-option>
                <nb-option timezone_id="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">(GMT-06:00) Guadalajara, Mexico City, Monterrey</nb-option>
                <nb-option timezone_id="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">(GMT-06:00) Saskatchewan</nb-option>
                <nb-option timezone_id="14" gmtAdjustment="GMT-05:00" useDaylightTime="0" value="-5">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</nb-option>
                <nb-option timezone_id="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Eastern Time (US & Canada)</nb-option>
                <nb-option timezone_id="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">(GMT-05:00) Indiana (East)</nb-option>
                <nb-option timezone_id="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Atlantic Time (Canada)</nb-option>
                <nb-option timezone_id="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Caracas, La Paz</nb-option>
                <nb-option timezone_id="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">(GMT-04:00) Manaus</nb-option>
                <nb-option timezone_id="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">(GMT-04:00) Santiago</nb-option>
                <nb-option timezone_id="21" gmtAdjustment="GMT-03:30" useDaylightTime="1" value="-3.5">(GMT-03:30) Newfoundland</nb-option>
                <nb-option timezone_id="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Brasilia</nb-option>
                <nb-option timezone_id="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" value="-3">(GMT-03:00) Buenos Aires, Georgetown</nb-option>
                <nb-option timezone_id="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Greenland</nb-option>
                <nb-option timezone_id="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Montevideo</nb-option>
                <nb-option timezone_id="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2">(GMT-02:00) Mid-Atlantic</nb-option>
                <nb-option timezone_id="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" value="-1">(GMT-01:00) Cape Verde Is.</nb-option>
                <nb-option timezone_id="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" value="-1">(GMT-01:00) Azores</nb-option>
                <nb-option timezone_id="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" value="0">(GMT+00:00) Casablanca, Monrovia, Reykjavik</nb-option>
                <nb-option timezone_id="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</nb-option>
                <nb-option timezone_id="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</nb-option>
                <nb-option timezone_id="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</nb-option>
                <nb-option timezone_id="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</nb-option>
                <nb-option timezone_id="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</nb-option>
                <nb-option timezone_id="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">(GMT+01:00) West Central Africa</nb-option>
                <nb-option timezone_id="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Amman</nb-option>
                <nb-option timezone_id="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Athens, Bucharest, Istanbul</nb-option>
                <nb-option timezone_id="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Beirut</nb-option>
                <nb-option timezone_id="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Cairo</nb-option>
                <nb-option timezone_id="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" value="2">(GMT+02:00) Harare, Pretoria</nb-option>
                <nb-option timezone_id="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</nb-option>
                <nb-option timezone_id="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Jerusalem</nb-option>
                <nb-option timezone_id="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Minsk</nb-option>
                <nb-option timezone_id="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Windhoek</nb-option>
                <nb-option timezone_id="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Kuwait, Riyadh, Baghdad</nb-option>
                <nb-option timezone_id="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</nb-option>
                <nb-option timezone_id="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Nairobi</nb-option>
                <nb-option timezone_id="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">(GMT+03:00) Tbilisi</nb-option>
                <nb-option timezone_id="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" value="3.5">(GMT+03:30) Tehran</nb-option>
                <nb-option timezone_id="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4">(GMT+04:00) Abu Dhabi, Muscat</nb-option>
                <nb-option timezone_id="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Baku</nb-option>
                <nb-option timezone_id="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">(GMT+04:00) Yerevan</nb-option>
                <nb-option timezone_id="53" gmtAdjustment="GMT+04:30" useDaylightTime="0" value="4.5">(GMT+04:30) Kabul</nb-option>
                <nb-option timezone_id="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" value="5">(GMT+05:00) Yekaterinburg</nb-option>
                <nb-option timezone_id="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5">(GMT+05:00) Islamabad, Karachi, Tashkent</nb-option>
                <nb-option timezone_id="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Sri Jayawardenapura</nb-option>
                <nb-option timezone_id="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</nb-option>
                <nb-option timezone_id="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" value="5.75">(GMT+05:45) Kathmandu</nb-option>
                <nb-option timezone_id="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" value="6">(GMT+06:00) Almaty, Novosibirsk</nb-option>
                <nb-option timezone_id="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" value="6">(GMT+06:00) Astana, Dhaka</nb-option>
                <nb-option timezone_id="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" value="6.5">(GMT+06:30) Yangon (Rangoon)</nb-option>
                <nb-option timezone_id="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" value="7">(GMT+07:00) Bangkok, Hanoi, Jakarta</nb-option>
                <nb-option timezone_id="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" value="7">(GMT+07:00) Krasnoyarsk</nb-option>
                <nb-option timezone_id="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</nb-option>
                <nb-option timezone_id="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Kuala Lumpur, Singapore</nb-option>
                <nb-option timezone_id="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Irkutsk, Ulaan Bataar</nb-option>
                <nb-option timezone_id="67" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Perth</nb-option>
                <nb-option timezone_id="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">(GMT+08:00) Taipei</nb-option>
                <nb-option timezone_id="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Osaka, Sapporo, Tokyo</nb-option>
                <nb-option timezone_id="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">(GMT+09:00) Seoul</nb-option>
                <nb-option timezone_id="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" value="9">(GMT+09:00) Yakutsk</nb-option>
                <nb-option timezone_id="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Adelaide</nb-option>
                <nb-option timezone_id="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">(GMT+09:30) Darwin</nb-option>
                <nb-option timezone_id="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Brisbane</nb-option>
                <nb-option timezone_id="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Canberra, Melbourne, Sydney</nb-option>
                <nb-option timezone_id="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Hobart</nb-option>
                <nb-option timezone_id="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">(GMT+10:00) Guam, Port Moresby</nb-option>
                <nb-option timezone_id="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Vladivostok</nb-option>
                <nb-option timezone_id="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" value="11">(GMT+11:00) Magadan, Solomon Is., New Caledonia</nb-option>
                <nb-option timezone_id="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12">(GMT+12:00) Auckland, Wellington</nb-option>
                <nb-option timezone_id="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</nb-option>
                <nb-option timezone_id="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13">(GMT+13:00) Nuku'alofa</nb-option>
              </nb-select>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>
        {{'user.company_active' | translate }}
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="active">{{'user.active' | translate }}:</label>
              <input [(ngModel)]="user.active" [ngModelOptions]="{standalone: true}" type="radio"  name="active" value="0"> {{'user.no' | translate }}
              <input [(ngModel)]="user.active" [ngModelOptions]="{standalone: true}" type="radio"  name="active" value="1"> {{'user.yes' | translate }}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="company">{{'user.company' | translate }}</label>
              <input [(ngModel)]="user.company" [ngModelOptions]="{standalone: true}" type="text" class="form-control" nbInput fullWidth id="company" required/>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>
        {{'user.select_role' | translate }}
      </nb-card-header>
      <nb-card-body>
          <div *ngFor="let rol of role">
            <input type="checkbox" (change)="onChange(rol.role_id, $event.target.checked)" [checked]="rol.state"> {{rol.name}}<br>
          </div>
      </nb-card-body>
    </nb-card>

    <div *ngIf="(user_id>0)">
      <button type="button" class="btn btn-primary" (click)="updateUser()">{{'buttons.update' | translate }}</button>
    </div>
    <div *ngIf="(!user_id)">
      <button type="button" class="btn btn-success" (click)="addUser()">{{'buttons.submit' | translate }}</button>
    </div>
  </form>
</div>
