<nb-card>
  <nb-card-header>
    {{ 'general.inbound_fax' | translate}}
    <input nbInput fullWidth placeholder="{{ 'outbound_fax.filter' | translate }}" [nbFilterInput]="InFaxDataSource" id="search" class="form-control cc" style="float:right"/>
  </nb-card-header>

  <nb-card-body>
      <table [nbTreeGrid]="InFaxDataSource" [nbSort]="InFaxDataSource">
        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="displayedColumns"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; Columns: displayedColumns"></tr>
        <ng-container nbTreeGridColumnDef="transmission_id">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]>{{'general.ID' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row"> {{row.data.transmission_id}}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="username">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{'outbound_fax.username' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.username}}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="phone">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{'outbound_fax.phone_num' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row"> {{row.data.contact_phone}} </td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="status">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]>{{'transmission.status' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row"> {{row.data.status}} </td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="Timestamp">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{'outbound_fax.date_time' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            {{row.data.last_run * 1000 | date:'yyyy-MM-dd HH:mm:ss a'}}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="Operations">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{ 'general.operations' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let infax">
            <button mat-icon-button color="primary" style= "font-size:20px">
              <mat-icon (click)="showPDF(pdfViewer, row.data.transmission_id)"><nb-icon icon="eye-outline" title="View Document"></nb-icon></mat-icon></button>
            <button mat-icon-button color="primary" style= "font-size:20px">
              <mat-icon (click)="downloadDocument(row.data.transmission_id)"><nb-icon icon="download-outline" title="Download"></nb-icon></mat-icon></button>
          </td>
        </ng-container>
      </table>
      <div style="padding: 30px; display: flex; justify-content: flex-end;">
        <span style="text-align: center; padding-top: 10px;">Items per page: &nbsp;&nbsp;</span>
        <nb-select [(ngModel)]="pageSize" (ngModelChange)="paginate($event)">
          <nb-option *ngFor="let option of items_page" [value]="option">{{ option }}</nb-option>
        </nb-select>
        <div style="padding-top: 10px;">
          <nb-icon   style="margin: 0 25px;"   icon="arrowhead-left-outline"   (click)="startIndex > 0 ? paginate('previous') : null"   [ngClass]="{'disabled-icon': startIndex === 0}"></nb-icon>  
          <span>Page {{ currentPage }} of {{ total_pages }}</span>
          <nb-icon  style="margin: 0 25px;"  icon="arrowhead-right-outline" (click)="startIndex + pageSize < aInFax?.length ? paginate('next') : null" [ngClass]="{'disabled-icon': startIndex + pageSize >= aInFax?.length}"> </nb-icon>
          <span *ngIf="aInFax?.length > 0"> 
            | Showing {{ startIndex }} - {{ minimumItems }} of {{ length }} items
          </span>
        </div>
      </div> 
  </nb-card-body>
</nb-card>

<ng-template #pdfViewer let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'fax_viewer.title' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="pdf-loading">Loading, please wait ...</div>
    <ng-template [ngIf]="totalPages > 1">
      <div class="pagination">
        <button class="prv-page" (click)="previousPage()" [disabled]="page === 1">
          < Previous
        </button>
        <button class="nxt-page" (click)="nextPage()" [disabled]="totalPages === 1 || page === totalPages">
          Next >
        </button>
        <p class="all-pages">Pages {{ page }} / {{ totalPages }}</p>
      </div>
    </ng-template>
    <pdf-viewer [src]="faxDocumentURL"
      [render-text]="true"
      [original-size]="false"
      [show-all]="false"
      [page]="page"
      (after-load-complete)="afterLoadComplete($event)"
      style="width: 100%; height: 65vh; overflow-x: hidden!important;"
      >
    </pdf-viewer>
  </div>
</ng-template>

<ng-template #contentt let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Fax Logs</h4>
 <button type="button" class="close" aria-label="Close" (click)="onSave()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <li *ngFor="let faxlogs of faxlogarray;let i = index" class="ml-4" style="list-style: none;">
      <h6 class="text-uppercase text-primary">{{faxlogs.origin}}</h6>
      
      <hr>
      <h6> User information </h6>
     <ul style="list-style:none">
      <li>
        <table>
          <tr>
              <td>ID:</td>
              <td>{{faxlogs.sourceid}}</td>
          </tr>
          <tr>
              <td>Name:</td>
              <td>{{faxlogs.sourcename}}</td>
          </tr>
          <tr>
              <td>Phone:</td>
              <td>{{faxlogs.sourcephone}}</td>
          </tr>
          <!-- <tr>
              <td>Tenant</td>
              <td>{{faxlogs.tenant}}</td>
          </tr> -->
      
  </table>
      </li>
     </ul>
      
      
        <h6>Fax information</h6>
        <ul style="list-style:none">
        <li>
        <table class="faxinfo">
            <tr>
                <td>Fax Created:</td>
                <td>{{faxlogs.pending}}</td>
            </tr>
            <tr>
                <td>Fax Processing:</td>
                <td>{{faxlogs.processing}}</td>
            </tr>
            <tr>
                <td>Fax Complete:</td>
                <td>{{faxlogs.result}}</td>
            </tr>
            <tr>
                <td>Source Caller ID:</td>
                <td>{{faxlogs.callerid}}</td>
            </tr>
            <tr>
                <td>Destination Name:</td>
                <td>{{faxlogs.destinationname}}</td>
            </tr>
            <tr>
                <td>Destination Phone:</td>
                <td>{{faxlogs.destination}}</td>
            </tr>
            <tr>
                <td>Coverpage:</td>
                <td>{{faxlogs.coverpage}}</td>
            </tr>
            <tr>
              <td>Pages:</td>
              <td>{{faxlogs.pages}}</td>
          </tr>
        </table>
      </li>
      </ul>
    <div class="containger">
      <h6>Final Status</h6>
      <ul style="list-style:none;">
        <li>
          <table>
            <tr>
              <td *ngIf="faxlogs.faxstatus === 'completed'">
                <b style="color:green;">Completed</b>
              </td>
              <td *ngIf="faxlogs.faxstatus === 'failed'">
                <b style="color:red;">Failed</b>
                <p style="color:red;">{{faxlogs.response}}</p>
              </td>
            </tr>
          </table>
        </li>
      </ul>
      </div>
    </li>
    
    <li class="ml-4" style="list-style:none">
    <h6>Activity</h6>
    <ul>
      <li *ngFor="let faxact of faxactivityarray;let f = index" style="list-style: none;">
        <table>
          <tr>
            <td>
              {{faxact.faxactivity}}
            </td>
            <td>
              {{faxact.date}}
            </td>
          </tr>
        </table>
      </li>
    </ul>
   
  </li>
  
  </div>
</ng-template>
