<h4>{{'my_dids.forward_did' | translate}}</h4>
<br>
<div class="col-lg-12">
  <nb-card>
    <nb-card-header>
      {{'my_dids.did_info' | translate}}
    </nb-card-header>
    <nb-card-body>
      <label for="phone">{{'my_dids.did_number' | translate}}</label>
      <br>
      <input [(ngModel)]="incomingNumber.phone" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="phone" disabled required/>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header>
      {{'user.user_info' | translate}}
    </nb-card-header>
    <nb-card-body>
      <label>Select Service</label><br>
      <select class="form-control" [(ngModel)]= "incomingNumber.service_name" [ngModelOptions]="{standalone: true}">
        <option value="" selected>- Select -</option>
        <option value="no_service" selected>No service</option>
        <option value="faxtoemail">Fax to Email</option>
        <option value="forwardtoext">Forward to Extension</option>
      </select>
      <div *ngIf="(incomingNumber.service_name == '')"><br>
        <span style="color:red">Please Select Service</span>
      </div>
      <div *ngIf="(incomingNumber.service_name == 'faxtoemail')"><br>
        <label>Email:</label>
        <input [(ngModel)]="incomingNumber.email" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="email" required/>
        <nb-card-body>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <textarea [(ngModel)]="accounts" [ngModelOptions]="{standalone: true}" class="form-control" id="accounts" rows="7" required>
                </textarea>
              </div>
            </div>
          </div>
        </nb-card-body>
      </div>
    </nb-card-body>
  </nb-card>
  <div *ngIf="(incomingNumber.service_name == 'forwardtoext')">
    <nb-card>
      <nb-card-header>
        Extesnion Information
      </nb-card-header>
      <nb-card-body>
        <label>Select Extesnion</label><br>
        <select class = "form-control" name = "user" [(ngModel)]= "incomingNumber.extension_id">  
          <option *ngFor="let ext of exts"  
            [ngValue] = "ext.account_id" >  
            {{ext.username}}  ({{ext.phone}})
          </option>  
        </select><br>
        <div *ngIf="(incomingNumber.service_name == 'forwardtoext') && (incomingNumber.extension_id == undefined)"><br>
          <span style="color:red">Please Select Extension</span>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <button type="button" class="btn btn-primary" [disabled]="(incomingNumber.service_name == '') || (incomingNumber.service_name == 'forwardtoext') && (incomingNumber.extension_id == undefined)" (click)="forwardDID()">Submit</button>
</div>