<h4>{{'my_dids.forward_did' | translate}}</h4>
<br>
<div class="col-lg-12">
  <nb-card>
    <nb-card-header>
      {{'my_dids.did_info' | translate}}
    </nb-card-header>
    <nb-card-body>
      <label for="phone">{{'my_dids.did_number' | translate}}</label>
      <br>
      <input [(ngModel)]="incomingNumber.phone" [ngModelOptions]="{standalone: true}" type="text" nbInput fullWidth id="phone" disabled required/>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header>
      {{'my_dids.user_info' | translate}}
    </nb-card-header>
    <nb-card-body>
      <label>Select Service</label><br>
      <nb-select class="dddd" [(ngModel)]= "incomingNumber.service_name" [ngModelOptions]="{standalone: true}">
        <nb-option value="" selected>- Select -</nb-option>
        <nb-option value="no_service" selected>No service</nb-option>
        <nb-option value="faxtoemail">Fax to Email</nb-option>
        <nb-option value="forwardtoext">Forward to Extension</nb-option>
      </nb-select>
      <div *ngIf="(incomingNumber.service_name == '')"><br>
        <span style="color:red">Please Select Service</span>
      </div>
      <div *ngIf="(incomingNumber.service_name == 'faxtoemail')"><br>
        <label>Email:</label>
        <input [(ngModel)]="incomingNumber.email" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="email" required/>
      </div>
    </nb-card-body>
  </nb-card>
  <div *ngIf="(incomingNumber.service_name == 'forwardtoext')">
    <nb-card>
      <nb-card-header>
        Extesnion Information
      </nb-card-header>
      <nb-card-body>
        <label>Select Extesnion</label><br>
        <nb-select class = "form-control" name = "user" [(ngModel)]= "incomingNumber.extension_id">
          <nb-option *ngFor="let ext of exts"
            [ngValue] = "ext.account_id" >
            {{ext.username}}  ({{ext.phone}})
          </nb-option>
        </nb-select><br>
        <div *ngIf="(incomingNumber.service_name == 'forwardtoext') && (incomingNumber.extension_id == undefined)"><br>
          <span style="color:red">Please Select Extension</span>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <button type="button" class="btn btn-primary" [disabled]="(incomingNumber.service_name == '') || (incomingNumber.service_name == 'forwardtoext') && (incomingNumber.extension_id == undefined)" (click)="forwardDID()">Submit</button>
</div>
