<nb-card>
  <nb-card-header>
    {{'my_dids.did_title' | translate}}
  </nb-card-header>

  <nb-card-body>
      <table [nbTreeGrid]="IncomingNumberDataSource" [nbSort]="IncomingNumberDataSource">
        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="displayedColumns"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: displayedColumns"></tr>
        <ng-container nbTreeGridColumnDef="phone">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]>{{ 'my_dids.did_number' | translate}}:</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row" style="text-align:left">
            {{row.data.username}}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="first_name">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]>{{ 'my_dids.title' | translate}}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row" style="text-align:left">
            {{row.data.first_name}}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="Operations">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{ 'general.operations' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let in_num">
            <button mat-icon-button color="primary" style= "font-size:20px">
              <mat-icon><a routerLink="/pages/incoming_number/incoming_number/{{in_num.data.account_id}}/forward" title="Forward"><i class="ion-forward"></i></a></mat-icon>
            </button>
          </td>
        </ng-container>
       </table>
       <div style="padding: 30px; display: flex; justify-content: flex-end;">
        <span style="text-align: center; padding-top: 10px;">Items per page: &nbsp;&nbsp;</span>
        <nb-select [(ngModel)]="pageSize" (ngModelChange)="paginate($event)">
          <nb-option *ngFor="let option of items_page" [value]="option">{{ option }}</nb-option>
        </nb-select>
        <div style="padding-top: 10px;">
          <nb-icon   style="margin: 0 25px;"   icon="arrowhead-left-outline"   (click)="startIndex > 0 ? paginate('previous') : null"   [ngClass]="{'disabled-icon': startIndex === 0}"></nb-icon>  
          <span>Page {{ currentPage }} of {{ total_pages }}</span>
          <nb-icon  style="margin: 0 25px;"  icon="arrowhead-right-outline"  (click)="startIndex + pageSize < aNumbers?.length ? paginate('next') : null"  [ngClass]="{'disabled-icon': startIndex + pageSize >= aNumbers?.length}"> </nb-icon>
          <span *ngIf="aNumbers?.length > 0"> 
            | Showing {{ startIndex }} - {{ minimumItems }} of {{ length }} items
          </span>
        </div>
      </div> 
       
  </nb-card-body>
</nb-card>
