::ng-deep .navigation .link nb-icon {
    display: none !important;
}
.password-input-container {
    position: relative;
  }

  .password-input-container button {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  /* Add this to your component's CSS or SCSS file */
.snackbar-error {
  background-color: #f44336; /* Change the background color as needed */
  color: #ffffff; /* Change the text color as needed */
}

