<nb-card>
  <nb-card-header>
    {{'outbound_fax.title' | translate}}
    <input nbInput fullWidth placeholder="{{ 'outbound_fax.filter' | translate }}" [nbFilterInput]="SendFaxDataSource" id="search" class="form-control cc" style="float:right"/>
  </nb-card-header>

  <nb-card-body>

    <button type="button" mat-raised-button color="primary" style="font-size:15px" [routerLink]="['/pages/sendfax/sendfax/new']"><i class="fa fa-plus"></i> {{'outbound_fax.new' | translate}}</button>
    <br><br>
      <table nbTreeGrid [nbTreeGrid]="SendFaxDataSource" [nbSort]="SendFaxDataSource">
        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="displayedColumns"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: displayedColumns"></tr>
        <ng-container nbTreeGridColumnDef="transmission_id">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]>{{ 'general.ID' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data.transmission_id }}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="phone">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{'outbound_fax.phone_num' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.contact_phone}}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="Timestamp">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{'outbound_fax.date_time' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.last_run * 1000 | date:'yyyy-MM-dd HH:mm:ss a'}}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="username">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{'outbound_fax.username' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.username}}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="status">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]>{{'transmission.status' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.status}}</td>
        </ng-container>
        <ng-container matColumnDef="operations">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'general.operations' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let sendfax">
        <!-- <button mat-icon-button color="primary" style="font-size:20px">
        <mat-icon (click)="downloadDocument(sendfax.doument_id)"> <nb-icon icon="download-outline" title="download"></nb-icon></mat-icon>
        </button> -->
       <button mat-icon-button color="warn" style="font-size:20px">
        <mat-icon (click)="deleteDocument(sendfax.transmission_id)"> <nb-icon icon="trash-2-outline" title="delete"></nb-icon></mat-icon>     
        </button> 
        <button mat-icon-button color="primary" style= "font-size:20px" >
          <mat-icon style="color:green" (click)="open(content,sendfax.transmission_id)"  ><nb-icon icon="file-text-outline" title="Download"></nb-icon></mat-icon>
        </button> 
      </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row;columns:displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator
        [length] = "length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </nb-card-body>
</nb-card>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Fax Logs</h4>
 <button type="button" class="close" aria-label="Close" (click)="onSave()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <li *ngFor="let faxlogs of faxlogarray;let i = index" class="ml-4" style="list-style: none;">
      <h6 class="text-uppercase text-primary">{{faxlogs.origin}}</h6>
      
      <hr>
      <h6> User information </h6>
     <ul style="list-style:none">
      <li>
        <table>
          <tr>
              <td>ID:</td>
              <td>{{faxlogs.sourceid}}</td>
          </tr>
          <tr>
              <td>Name:</td>
              <td>{{faxlogs.sourcename}}</td>
          </tr>
          <tr>
              <td>Phone:</td>
              <td>{{faxlogs.sourcephone}}</td>
          </tr>
          <!-- <tr>
              <td>Tenant</td>
              <td>{{faxlogs.tenant}}</td>
          </tr> -->
      
  </table>
  <div style="padding: 30px; display: flex; justify-content: flex-end;">
    <span style="text-align: center; padding-top: 10px;">Items per page: &nbsp;&nbsp;</span>
    <nb-select [(ngModel)]="pageSize" (ngModelChange)="paginate($event)">
      <nb-option *ngFor="let option of items_page" [value]="option">{{ option }}</nb-option>
    </nb-select>
    <div style="padding-top: 10px;">
      <nb-icon   style="margin: 0 25px;"   icon="arrowhead-left-outline"   (click)="startIndex > 0 ? paginate('previous') : null"   [ngClass]="{'disabled-icon': startIndex === 0}"></nb-icon>  
      <span>Page {{ currentPage }} of {{ total_pages }}</span>
      <nb-icon  style="margin: 0 25px;"  icon="arrowhead-right-outline"  (click)="startIndex + pageSize < aSendFax?.length ? paginate('next') : null"  [ngClass]="{'disabled-icon': startIndex + pageSize >= aSendFax?.length}"> </nb-icon>
      <span *ngIf="aSendFax?.length > 0"> 
        | Showing {{ startIndex }} - {{ minimumItems }} of {{ length }} items
      </span>
    </div>
  </div> 
  
  
</nb-card-body>
</nb-card>
