<nb-card>
  <nb-card-header>
    {{'outbound_fax.title' | translate}}
    <input nbInput fullWidth placeholder="{{ 'outbound_fax.filter' | translate }}" [nbFilterInput]="SendFaxDataSource" id="search" class="form-control cc" style="float:right"/>
  </nb-card-header>

  <nb-card-body>
    <button type="button" mat-raised-button color="primary" style="font-size:15px" [routerLink]="['/pages/sendfax/sendfax/new']"><i class="fa fa-plus"></i> {{'outbound_fax.new' | translate}}</button>
    <br><br>
      <table nbTreeGrid [nbTreeGrid]="SendFaxDataSource" [nbSort]="SendFaxDataSource">
        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="displayedColumns"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: displayedColumns"></tr>
        <ng-container nbTreeGridColumnDef="transmission_id">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]>{{ 'general.ID' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data.transmission_id }}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="phone">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{'outbound_fax.phone_num' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.contact_phone}}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="Timestamp">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{'outbound_fax.date_time' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.last_run * 1000 | date:'yyyy-MM-dd HH:mm:ss a'}}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="username">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{'outbound_fax.username' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.username}}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="status">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]>{{'transmission.status' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data.status}}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="Operations">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{ 'general.operations' | translate }}</th>
          <td nbTreeGridCell *nbTreeGridCellDef="let sendfax">
         <button mat-icon-button color="warn" style="font-size:20px">
        <mat-icon (click)="deleteDocument(sendfax.data.transmission_id)"> <nb-icon icon="trash-2-outline" title="delete"></nb-icon></mat-icon>
        </button></td>
    </ng-container>
  </table>
  <div style="padding: 30px; display: flex; justify-content: flex-end;">
    <span style="text-align: center; padding-top: 10px;">Items per page:   </span>
    <nb-select [(ngModel)]="pageSize" (ngModelChange)="paginate($event)">
      <nb-option *ngFor="let option of items_page" [value]="option">{{ option }}</nb-option>
    </nb-select>
    <div style="padding-top: 10px;">
      <nb-icon   style="margin: 0 25px;"   icon="arrowhead-left-outline"   (click)="startIndex > 0 ? paginate('previous') : null"   [ngClass]="{'disabled-icon': startIndex === 0}"></nb-icon>  
      <span>Page {{ currentPage }} of {{ total_pages }}</span>
      <nb-icon  style="margin: 0 25px;"  icon="arrowhead-right-outline"  (click)="startIndex + pageSize < aSendFax?.length ? paginate('next') : null"  [ngClass]="{'disabled-icon': startIndex + pageSize >= aSendFax?.length}"> </nb-icon>
      <span *ngIf="aSendFax?.length > 0"> 
        | Showing {{ startIndex }} - {{ minimumItems }} of {{ length }} items
      </span>
    </div>
  </div> 
  
  
</nb-card-body>
</nb-card>