<nb-card>
  <nb-card-header>
    {{ 'provider.list' | translate}}
    <input nbInput fullWidth placeholder="{{ 'provider.filter' | translate }}" [nbFilterInput]="ProviderDataSource" id="search" class="form-control cc" style="float:right"> 
  </nb-card-header>

  <nb-card-body>
      <button type="button" mat-raised-button color="primary" style="font-size:15px" [routerLink]="['/pages/provider/provider/new']"><i class="fa fa-plus"></i> {{ 'provider.add' | translate}}</button>
      <br><br>
      <table [nbTreeGrid]="ProviderDataSource" [nbSort]="ProviderDataSource">
        <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="displayedColumns"></tr>
        <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: displayedColumns"></tr>
        <ng-container nbTreeGridColumnDef="provider_id">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]>{{ 'general.ID' | translate}}<th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row" > {{row.data.provider_id}}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="name">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]>{{ 'provider.provider_name' | translate}}<th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">  {{row.data.name}}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="host">
          <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef [nbSortHeader]>{{ 'provider.host' | translate}}<th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row" > {{row.data.host}}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="type">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{ 'provider.type' | translate}}<th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row"> {{row.data.type}}</td>
        </ng-container>
        <ng-container nbTreeGridColumnDef="Operations">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{ 'general.operations' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let provider">
               <button mat-icon-button color="primary" style= "font-size:20px">
              <mat-icon><a routerLink="/pages/provider/provider/{{provider.provider_id}}" title="Edit"><nb-icon icon="edit-2-outline"></nb-icon></a></mat-icon></button>
            <button mat-icon-button color="primary" style= "font-size:20px">
              <mat-icon style="color: red" (click)="showStaticModal(deleteTemplate,provider.name, provider.provider_id)" ><nb-icon icon="trash-2-outline" title="Delete"></nb-icon></mat-icon></button>
            </td>
          </ng-container>
        </table>
        <div style="padding: 30px; display: flex; justify-content: flex-end;">
          <span style="text-align: center; padding-top: 10px;">Items per page: &nbsp;&nbsp;</span>
          <nb-select [(ngModel)]="pageSize" (ngModelChange)="paginate($event)">
            <nb-option *ngFor="let option of items_page" [value]="option">{{ option }}</nb-option>
          </nb-select>
          <div style="padding-top: 10px;">
            <nb-icon   style="margin: 0 25px;"   icon="arrowhead-left-outline"   (click)="startIndex > 0 ? paginate('previous') : null"   [ngClass]="{'disabled-icon': startIndex === 0}"></nb-icon>  
            <span>Page {{ currentPage }} of {{ total_pages }}</span>
            <nb-icon  style="margin: 0 25px;"  icon="arrowhead-right-outline"  (click)="startIndex + pageSize < aProvider?.length ? paginate('next') : null"  [ngClass]="{'disabled-icon': startIndex + pageSize >= aProvider?.length}"> </nb-icon>
            <span *ngIf="aProvider?.length > 0"> 
              | Showing {{ startIndex }} - {{ minimumItems }} of {{ length }} items
            </span>
          </div>
        </div> 
    </nb-card-body>
  </nb-card>
