.addressfield-container-inline > div.form-item {
  float: left;
  margin-right: 1em;
}
/* Clear-fix markup for the inline container */
.addressfield-container-inline:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .addressfield-container-inline {
  height: 1%;
}
/* IE7 */
*:first-child + html .addressfield-container-inline {
  min-height: 1%;
}
