.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: 500px;
      
}
  
.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}
  
.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-sort-header-sorted {
  color: black;
}

.cdk-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
}

.mat-cell, .mat-header-cell {
  overflow: hidden;
  word-wrap: break-word;
}

a:hover {
  color: rgb(10, 238, 10);
  // color: darkblue;
}

.fa-trash:hover {
  color: rgb(138, 4, 4);
}
