<h3>{{'dids.add' | translate}} </h3>
<div class="col-lg-12">
  <form id="form" #f1="ngForm">
    <nb-card>
      <nb-card-header>
        {{'dids.dids_info' | translate}}  
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-9">
            <div class="form-group">
              <label for="phone">{{'dids.dids_number' | translate}}:</label>
              <input [(ngModel)]="did.phone" [ngModelOptions]="{standalone: true}" type="text" class="form-control" nbInput fullWidth id="phone" #phone="ngModel" required/>
              <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
                <div [hidden]="!phone.hasError('required')">{{'dids.did_req' | translate}}.</div>
              </div>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="form-group">
              <label for="first_name">{{'dids.title' | translate}}:</label>
              <input [(ngModel)]="did.first_name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" nbInput fullWidth id="first_name" required/>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>


    <div *ngIf="(account_id>0)">
      <button type="button" class="btn btn-primary" (click)="updateDID()">{{'button.update' | translate}}</button>
    </div>
    <div *ngIf="(!account_id)">
      <button type="button" class="btn btn-success" (click)="addDID()">{{'button.submit' | translate}}</button>
    </div>
  </form>
</div>